# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Added by goreleaser init:
dist/

# Go build output
/pipefitter
*.test
*.out

# JetBrains (IntelliJ IDEA, GoLand)
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store
